{% extends 'base.html' %} {% block content %}
<div class="row col-lg-12">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-row">
    <a class="navbar-brand" href="{% url 'wall:my_wall' %}">CodingDojo Wall</a>
    <h5>Success! Welcome, {{user.first_name}}!</h5>
    <a href="{% url 'login:my_logout' %}">Log Off</a>
  </nav>
</div>

<div class="row col-lg-12">
  <div>
    <form action="{% url 'wall:my_new_message' %}" method="POST" id="message">
      {% csrf_token %}
      <p>
        <label for="message">Post a message</label><br />
        <textarea
          rows="4"
          cols="120"
          name="message"
          form="message"
          placeholder="write a message here..."
        ></textarea>
        <input type="hidden" name="user_id" value="{{user.id}}" />
      </p>
      <button class="btn btn-primary btn-sm">
        Post a message
      </button>
    </form>
  </div>
</div>
<br /><br />

{% for message in all_messages reversed %}
<div class="row col-lg-11">
  <h5>
    <a href="{% url wall:my_this_message %}"
      >{{message.user.first_name}} {{message.user.last_name}} -
      {{message.created_at}}</a
    >
  </h5>
  <p>{{message.message}}</p>
</div>
{% endfor %} {% endblock %}
